.ImageImport{
    display: flex;
    justify-content: center;
}
#ImageUpload{
    margin-top: 20px;
   margin-left: 2px;
}
.ImageImport label{
    margin-top: 20px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blueviolet;
}
